*
{
  margin: 0;
  padding: 0;
}


/* Styling for the Registration Page */
.reg-sec , .login-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #080809; /* Dark background color */
}

.reg-container, .login-container {
  max-width: 600px; /* Increased max-width for a bigger container */
  background-color: #3c3f43; /* Dark container background color */
  padding: 30px; /* Increased padding for more spacing */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inputs
{
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 0.6rem;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 18rem;
  padding: 15px; /* Increased padding for input fields */
  border: none;
  background-color: #202124; /* Dark input background color */
  color: #fff; /* White text color */
  border-radius: 5px;
  font-size: 16px; /* Increased font size for better readability */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="phone"]::placeholder,
input[type="password"]::placeholder {
  color: #ccc; /* Light placeholder text color */
}

button {
  padding: 15px; /* Increased padding for buttons */
  border: none;
  background-color: #7289da; /* Discord theme color (You can change it to any other color you prefer) */
  color: #fff; /* White text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a68a1; /* Darker shade on hover */
}
.already 
{
  color: #fff;
  margin-top: 1rem;
}
.already a 
{
  color: #007bff;
}
/* Optional: Center the form horizontally on larger screens */
@media (min-width: 768px) {
  .reg-container {
    margin: 0 auto;
  }
}






/* Styling for the Blogs Page */
.all-blogs-sec {
  min-height: 100vh;
  background-color: #080809; 
  color: #fff;
}
.all-blogs-container
{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.all-blogs-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.all-blogs-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.all-blogs-navigation a {
  padding: 10px 15px;
  color: #7289da; 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.all-blogs-navigation a:hover {
  background-color: #7289da; 
  opacity: 0.8;
  color: #fff;
}

.all-blogs-cards {
  display: grid;
  gap: 20px;
}

/* Styling for the BlogsCard component */
.blog-card {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.blog-user-details {
  display: flex;
  justify-content: space-between;
}

.blog-post {
  margin-top: 15px;
}

.blog-post img 
{
  max-width: 100%;
  min-width: 100%;
}

.blog-btns {
  margin-top: 15px;
}
.blog-btns a
{
  text-decoration: none;
}

.blog-btns .button {
  font-size: 1rem;
  padding: 8px 16px;
  background-color: #7289da; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.blog-btns .button:hover {
  background-color: #5a68a1; 
  opacity: 0.8;
}




















/* Styling for the Create Blog Page */
.create-edit-blog-sec {
  min-height: 100vh;
  background-color: #080809; /* Dark background color */
  color: #fff; /* White text color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-edit-blog-container {
  max-width: 600px;

  padding: 20px;
  background-color: #fff; 
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.create-edit-blog-container h2 {
  margin-bottom: 10px;
}

.create-edit-blog-container p {
  line-height: 1.5rem;
}

.create-edit-blog-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-edit-blogs-inputs
{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.create-edit-blogs-inputs label {
  font-weight: bold;
}

.create-edit-blogs-inputs input[type="text"],
.create-edit-blogs-inputs textarea 
{
  padding: 10px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  width: 96%;
  border: 1px solid #80808078;
}

.create-edit-blogs-inputs textarea {
  min-height: 200px;
}

.create-edit-blog-btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.create-edit-blog-btns .create-edit-btn {
  padding: 10px 20px;
  background-color: #7289da; /* Discord theme color (You can change it to any other color you prefer) */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-edit-blog-btns .create-edit-btn:hover {
  background-color: #5a68a1; /* Darker shade on hover */
  opacity: 0.8;
}





/* quill-custom-styles.css */
.ql-toolbar {
   /* Change the color of the button text */
  background-color: #fff; /* Change the background color of the toolbar */
}
.ql-container.ql-snow
{
  height: 200px;
}

/* custom-tooltip.css */
.react-quill-container .ql-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.react-quill-container .ql-toolbar .ql-tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.react-quill-container .ql-toolbar .ql-tooltip:hover .ql-tooltip {
  opacity: 1;
}







.home-section
{
  background-color: #080809;
  color: #fff;
}
.home-container
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.left-h
{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-h .contents
{
  padding: 0 5rem;
}
.left-h h1
{
  font-size: 50px;
}
.left-h h2
{
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}
.left-h .hero-btns 
{
  display: flex;
  gap: 2rem;
}
.left-h .hero-btn
{
  background: #632aa2;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: 1rem;
}
.right-h
{
  flex: 1;
}
.right-h img 
{
  max-width: 600px;
}


/* HomePage.module.css */
/* ... (existing CSS) */

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse; /* Stack elements vertically on smaller screens */
  }

  .left-h {
    padding: 0 2rem;
    text-align: center;
  }

  .left-h h1 {
    font-size: 36px;
  }

  .left-h h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .left-h .contents {
    padding: 0;
  }

  /* .left-h .hero-btns {
    margin-top: 1rem;
  } */

  .left-h .hero-btn {
    width: 100%; /* Make buttons full width on smaller screens */
  }

  .right-h {
    margin-top: 2rem;
    text-align: center;
  }

  .right-h img {
    max-width: 100%; /* Make the image responsive */
  }
}
